* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
	outline:none;
}


.buttons {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    border: none;
    background: #2c2d2e;
    border-radius: 4px;
    box-shadow: 0px 0px 5px black;
    color: #fff;
    transition:background .2s ease-in-out;
}
.buttons:active{
	transform: scale(0.91);
}
.buttons:hover{
	filter: brightness(1.3);
}
.textview {
    width: 225px;
    margin: 5px;
    font-size: 23px;
    padding: 10px;
    color: #999;
    text-overflow: ellipsis;
    background: none;
	/* border:none; */
    border: 2px solid #555;
    background:rgb(43, 42, 42);
    border-radius: 0;
    margin-left: 0;
	color:white;
}
.textview::placeholder{
	color: white;
}
.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.bg {
    background:linear-gradient(45deg, #171818, #2e2c2c);
    height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	filter: brightness(1.1);
}

.border {
    border-radius: 4px;
}

.igual {
    background-image: linear-gradient(45deg, rgb(29, 29, 29), rgb(71, 71, 71));
    color: rgb(255,255,255 );
    transition: filter 100ms ease;
}
.igual:hover{
    filter: brightness(1.3);
}

.operacoes {
    background: #1a1b1b;
    color: white;
	transition: filter 100ms ease;
}
.operacoes:hover{
    /* background:#2a2b2c; */
	filter: brightness(1.3);
}
.textview::placeholder{
    color: #c0c0c0;
}
#calc {
    color: rgb(255, 255, 255);
    font-size: 50pt;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
	position: relative;
	top:50px;
}

@media screen and (max-width: 500px){
    .main{
        margin-top: 80px;
    }
}