* {
    margin: 0;
    padding: 0;

}


.buttons {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    border: none;
    background: #2d3436;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
    color: #fff;
    transition:all .2s ease-in-out;
}
.buttons:hover{
    background:#474e50;
}
.textview {
    width: 200px;
    margin: 5px;
    font-size: 23px;
    padding: 10px;
    color: #000000;
    text-overflow: ellipsis;
    background: none;
    border: 2px solid gray;
    background:rgb(218, 218, 218);
    border-radius: 5px;
    margin-left: 0;

}
.textview::placeholder{
    color: rgb(0,0,0);
}
.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.bg {
    background:linear-gradient( #0c033b, #290bc2);
    height: 100vh;
}

.border {
    border-radius: 10px;
}

.igual {
    background-image: linear-gradient(45deg, rgb(29, 29, 29), rgb(122, 122, 122));
    color: rgb(255,255,255 );
    transition: all .5s ease-out;
}
.igual:hover{
    background-image: linear-gradient(45deg, rgb(122, 122, 122), rgb(29, 29, 29));
}

.operacoes {
    background: #222324;
    color: white;
}
.operacoes:hover{
    background: #525455;
}
.textview::placeholder{
    color: #c0c0c0;
}
#calc {
    color: rgb(255, 255, 255);
    font-size: 50pt;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

@media screen and (max-width: 500px){
    .main{
        margin-top: 80px;
    }
}